# rename to .env

SERVER_IP=localhost
MC_USERNAME=mail

# Uncomment if connecting to an online mode server.
#MC_PASSWORD=pass


# Optional settings:

# The seed to output when !seed is used.
#SEED=seed

# Uncomment to log if the player is attacked.
#ATTACK_ALERT=TRUE

# Uncomment to disconnect if the player is attacked.
#DISCONNECT_ON_ATTACK=TRUE